In [1]:
print('hello world')

hello world

In [2]:
1+1

2

In [3]:
print('reena')

reena

In [4]:
2**4

16

In [5]:
4%2

0

In [6]:
(2+3)*(5+5)

50

In [7]:
mite=100

In [8]:
mite

100

In [9]:
print('the value of mite variable is',mite)

the value of mite variable is 100

In [10]:
'mangalore is a nice place'

'mangalore is a nice place'

In [11]:
"mangalore is a great place to live"

'mangalore is a great place to live'

In [ ]:
#program
'my name'

In [12]:
"i can wrap lot's of quotes into this string"

"i can wrap lot's of quotes into this string"

In [14]:
number=22
name="mite"
print(number+1,name,"is the best place to study")

23 mite is the best place to study

In [17]:
print("my number is {one} and my name is {two}"
      .format(one=number,two=name))

my number is 22 and my name is mite

In [18]:
x=input("enter the first number")
y=input("enter the second number")
i=int(x)
j=int(y)
print("the product is",i*j)

enter the first number10
enter the second number20
the product is 200

In [20]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is",i*j)

enter the first number65
enter the second number1
the product is 65.0

In [24]:
x=input("enter the first number")
y=input("enter the second number")
i=bool(x)
j=bool(y)
print("the product is",i*j)

enter the first number
enter the second number20
the product is 0

In [28]:
married=bool(input("are you married ? [True|False]"))

are you married ? [True|False]False

In [29]:
print(married)

True

In [2]:
num=input("enter employee number")
name=input("enter employee name")
bs=input("enter employee basic salary")
fre=bool(input("whether he is fresher or not ? [True|False]"))
number=int(num)
salary=float(bs)
ts=salary*1.25
print("employee name= ",name,"\nemployee num= ",number,"\ntotal salary= ",ts,"\nfresher= ",fre)

enter employee number1
enter employee namereena
enter employee basic salary20000
whether he is fresher or not ? [True|False]
employee name= reena
employee num= 1
total salary= 25000.0
fresher= False

In [18]:
a,b,c=[int(x) for x in
    input("enter 3 numbers ").split(',')]
print("sum is : ",a+b+c)

enter 3 numbers 10,20,30
sum is :  60

In [16]:
x=eval("(10*20)/(6/3)")
print(x)

100.0

In [21]:
print(10*"hello ")

hello hello hello hello hello hello hello hello hello hello

In [20]:
print("hello\n world")
print("hello\t world")

hello
 world
hello	 world

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hey',1,2,3]

['hey', 1, 2, 3]

In [24]:
my_lst=['a','b','c']

In [25]:
my_lst.append('d')

In [26]:
print(my_lst)

['a', 'b', 'c', 'd']

In [27]:
my_lst[0]

'a'

In [28]:
my_lst[1:]

['b', 'c', 'd']

In [29]:
my_lst[:1]

['a']

In [30]:
my_lst='reena'

In [31]:
print(my_lst)

reena

In [32]:
nest=[1,2,3,[4,5,['reena']]]

In [34]:
print(nest)

[1, 2, 3, [4, 5, ['reena']]]

In [36]:
name=input("enter name:")
if name=="reena":
    print("hello reena")
else:
    print("dont know the name")

enter name:der
dont know the name

In [39]:
team=input("enter your favorit team")
if team=="rcd":
    print("its manchester united")
elif team=="csk":
    print("chennai s king")
else:
    print("unknown team")

enter your favorit teamcsk
chennai s king

In [42]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [43]:
for x in range(20):
    if x%2==0:
        print(x)

0
2
4
6
8
10
12
14
16
18

In [2]:
for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [3]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [4]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [11]:
for i in range(1,5):
    for j in range(1,i+1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *

In [7]:
for i in range(10):
    if i==7:
        print("lets break after 7")
        break
    print(i)

0
1
2
3
4
5
6
lets break after 7

In [14]:
cart=[100,500,900,250,499]
for x in cart:
    if x>=500:
        print(x,"it should be insured")
    else:
        print(x)

100
500 it should be insured
900 it should be insured
250
499

In [16]:
for i in range(10):
    if i==7:
        print("lets continue after 7")
        continue
    print(i)

0
1
2
3
4
5
6
lets continue after 7
8
9

In [17]:
dict1={"H":"Hydro","N":"Nytrogen"}
dict1["N"]

'Nytrogen'